<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<video playsinline autoplay loop muted style="position:absolute;left:0px;top:0px;width:auto;height:100%;-webkit-transform:rotateY(180deg);">
<source src="">
</source>
</video>
<script>
v = document.getElementsByTagName("video")[0];
a = window.location.href;
v.src = a.substring(a.split("?")[0].length + 1,a.length);

</script>