<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<video loop muted controls style="width:auto;height:100%">
<source src="">
</source>
</video>
<br>
<canvas width="400" height="12">
</canvas>
<br>
<div>
<div>
<script>
b = 0;
r = 0;
v = document.getElementsByTagName("video")[0];
a = window.location.href;
v.src = a.substring(a.split("?")[0].length + 1,a.length);
window.onload = function(){f5()};

function f5(){
document.addEventListener('keydown',f6);
v.play();
v.focus();
f1(0);
}

function f6(e){
if(e.keyCode == 37)
f1(-10);
else if(e.keyCode == 39)
f1(10);
else if(e.keyCode == 38){
v.webkitRequestFullscreen();
}
}


function f1(a){
v.pause();
v.currentTime += a;
v.play();

if (b == 0){
window.setInterval(f2,100);
b = 1;
}

}

function f2(){
document.getElementsByTagName("div")[0].innerHTML= f3(v.currentTime);
f4();
}

function f3(a) {
    a = Number(a);

    var h = Math.floor(a / 3600);
    var m = Math.floor(a % 3600 / 60);
    var s = Math.floor(a % 3600 % 60);

    return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
}

function f4(){
canvas = document.getElementsByTagName("canvas")[0];
ctx = canvas.getContext("2d");
w = canvas.width;
h = canvas.height;
a = w / 6;
ctx.clearRect(0,0,w,h);
ctx.beginPath();
ctx.fillStyle="#DADADA"; ctx.fillRect(a,h / 3,w - a * 2,h / 3);
c = Math.floor((v.currentTime / v.duration) * (w - a * 2));
w = canvas.width;
ctx.arc(c + a,h / 2,5,0,2 * Math.PI,false);
ctx.fillStyle="#4285F4";
ctx.fill();
ctx.closePath();
}

</script>